.footer {
    background-image: url("../images/background-footer.png");
    background-color: var(--third-primary-color);
    font-size: 16px;
    line-height: 1.2;

    &__container{
        width: 1240px;
        padding: 56px 0;
        display: flex;
        justify-content: space-between;
        gap: 186px;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        gap: 186px;

        &--list{
            display:flex;
            flex-direction: column;
            width: 200px;
            gap: 16px;
        }
    }
    &__address{
        display: flex;
        justify-content: space-between;
        gap: 186px;
        font-style: normal;

        &--list{
            display:flex;
            flex-direction: column;
            width: 200px;
            gap: 16px;
            &-icons{
                display: flex;
                flex-direction: row;
                gap: 24px;
            }
        }
        &--content{
            font-size: 13px;
            color: rgba(116, 114, 114, 1);
        }
    }
}

