.fourth-cards{
    &__card{
        position: relative;
        max-width: 344px;
        height: 456px;
        border-radius: 4px 120px;
        background-image: linear-gradient(
            180.05deg,
        rgba(1, 28, 68, 0) 48.53%,
        rgba(1, 28, 68, 0.725825) 84.61%,
        #011C44 101.39%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 auto;

        &--image{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 4px 120px;
            width: 100%;
            height: 100%;
        }
        &--text{
            font-size: 22px;
            color: var(--first-primary-color);
            width: 150px;
            text-align: center;
            position: absolute;
            left: 115px;
        }
    }
}