.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    &__button{
        background-color: rgba(116, 114, 114, 1);
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        padding: 0;
        &--active{
            background-color: var(--second-primary-color);
        }
    }
}